/* 背景 */
.logReg_bg {
  border-bottom: 1px solid #152029;/*no*/
  padding: 100px 0;
  background: #0D161D url(../images/bg/logReg_bg.png) center bottom no-repeat;
  transition: 1s;
}
.borderTop{
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: 1px;
  overflow: hidden;
  border-top: 1px solid #152029;/*no*/
  z-index: 99999999;
}


/* 表单区域 */
.logReg_bod {
  width: 600px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
  padding: 0 70px;
  box-sizing: border-box;
  transition: 1s;
}

.lR_title {
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #EAEAEA;/*no*/
  font-size: 32px;
  color: #0D161D;
  margin-bottom: 20px;
  transition: 1s;
}


.lR_tab a {
  position: relative;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  color: #8B8C8C;
  display: inline-block;
  float: left;
  padding-bottom: 15px;
  margin-right: 30px;
}

.lR_tab a label {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  margin-left: -20px;
  height: 5px;
  border-radius: 10px;
  background: #fff;
}

.lR_tab .lrTab_hover {
  color: #0A93ED;
}

.lR_tab .lrTab_hover label {
  background: #0A93ED;
}

.lRlist {
  margin-top: 20px;
  transition: 1s;
}

.lRlist .listInput {
  position: relative;
  height: 62px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;/*no*/
  box-sizing: border-box;
}
.lRlist .listInput:hover{
  border:1px solid #C0C4CC;/*no*/
}
.lRlist .listInput .placeholder {
  position: absolute;
  width: 100%;
  height: 20px;
  line-height: 20px;
  padding: 0 17px;
  box-sizing: border-box;
  display: inline-block;
  left: 0;
  top: 20px;
  z-index: 99;
  color: #B6B6B6;
  font-size: 14px;
}

.lRlist .listInput .pwdLv {
  position: absolute;
  width: auto;
  height: 4px;
  right: 30px;
  top: 28px;
  z-index: 99;
  overflow: hidden;
}

.lRlist .listInput .pwdLv span {
  width: 4px;
  height: 4px;
  background: #DADADA;
  display: inline-block;
  float: left;
  margin-right: 5px;
}

.lRlist .listInput .pwdLv .lvHover {
  background: #0A93ED;
}

.lRlist .listInput .pwdLv span:last-child {
  margin: 0;
}

.lRlist .listInput input {
  height: 60px;
  border: none;
}
.pwdNo{
  height: auto;
  line-height: 20px;
  float: left;
  overflow: hidden;
  padding-bottom: 30px;
  text-align: right;
}
.pwdNo a:hover {
  text-decoration: underline;
}
.listCheck {
  height: auto;
  line-height: 20px;
  float: left;
  overflow: hidden;
  padding-top: 10px;
}

.listCheck span {
  color: #575757;
  font-size: 14px;
}

.listCheck a:hover {
  text-decoration: underline;
}

.lRbtn {
  position: relative;
  /*height: 54px;*/
  overflow: hidden;
  margin: 20px 0;
  border-radius: 4px;
}

.lRbtn .fromErr {
  position: absolute;
  width: 100%;
  height: 54px;
  line-height: 54px;
  text-align: center;
  background: #FD173D;
  color: #fff;
  z-index: 2;
}

.lRbtn .regBtn {
  width: 100%;
  height: 54px;
  font-size: 16px;
}

.lRlogin {
  /*height: 20px;*/
  line-height: 20px;
  margin: 20px 0 50px 0;
  text-align: center;
}

.lRlogin a {
  opacity: 0.8;
  font-size: 14px;
}

.lRlogin a:hover {
  opacity: 1;
  text-decoration: underline;
}

.phoneList {
  margin-left: 0;
  margin-right: 0;
}

.phL_left {
  padding-right: 20px;
  box-sizing: border-box;
}

.phL_left input {
  height: 60px;
}

.phL_left input::-webkit-input-placeholder {
  opacity: 1;
  color: #323232;
}

.el-select-dropdown {
  margin: 0 !important;
}

.el-scrollbar {
  width: 300px;
}

.vifRight {
  padding-left: 20px;
  box-sizing: border-box;

}

.vifRight button {
  width: 100%;
  height: 60px;
}





/* 响应式 */
/*@media screen and (max-width:1500px) {*/
  /*.logReg_bg{*/
    /*padding: 90px 0;*/
  /*}*/
  /*.logReg_bod{*/
    /*width: 595px;*/
    /*padding: 0 65px;*/
  /*}*/
  /*.lR_title{*/
    /*height: 95px;*/
    /*line-height: 95px;*/
  /*}*/
  /*.lRlist{*/
    /*margin-top: 18px;*/
  /*}*/
  /*.lRlogin{*/
    /*margin: 18px 0 45px 0;*/
  /*}*/
/*}*/
@media screen and (max-width:1600px) {
  .logReg_bg{
    padding: 80px 0;
  }
  .logReg_bod{
    width: 600px;
    padding: 0 60px;
  }
  .lR_title{
    height: 90px;
    line-height: 90px;
  }
  .lRlist{
    margin-top: 16px;
  }
  .lRlogin{
    margin: 16px 0 40px 0;
  }
  .codeStatus {
    margin-top: -5px;
  }
}

