/* banenr  */
.newsBg {
  height: 280px;
  background: #333 url(../images/bg/newsBg.png) center bottom no-repeat;
  transition: 1s;
}

.newsTab {
  height: auto;
  overflow: hidden;
  margin-top: 180px;
  transition: 1s;
}

.newsTab a {
  width: auto;
  height: 44px;
  overflow: hidden;
  line-height: 32px;
  display: inline-block;
  padding-bottom: 10px;
  font-size: 20px;
  color: #fff;
  margin-right: 40px;
  box-sizing: border-box;
  opacity: 0.7;
  transition: 1s;
}

.newsTab a:hover {
  opacity: 1;
}

.newsTab .nTabHover {
  opacity: 1;
  color: #0A93ED;
  border-bottom: 2px solid #0A93ED;
}



/* 新闻列表 */
.newsNotice {
  padding: 70px 0;
  transition: 1s;
}

.newsBod {
  width: 100%;
  height: auto;
  min-height: 600px;
  overflow: hidden;
  float: left;
  padding-right: 30px;
  box-sizing: border-box;
}

.newsList {
  width: 100%;
  height: 180px;
  overflow: hidden;
  float: left;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 40px;
  transition: 1s;
}

.newsList .newsImg {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  overflow: hidden;
  float: left;
  transition: 1s;
  background: #f8f8f8 url(../images/icon/newsImgNone.png) center no-repeat;
}

.newsList .newsImg img {
  min-width: 100%;
  width: auto;
  height: 180px;
  transition: 1s;
}

.newsList .newsFonts {
  width: 100%;
  height: 180px;
  overflow: hidden;
  float: left;
  transition: 1s;
}

.newsFonts .nFheight {
  width: 100%;
  height: 160px;
  overflow: hidden;
  float: left;
  transition: 1s;
}

.newsFonts .nFheight h1 {
  width: 100%;
  height: auto;
  max-height: 56px;
  overflow: hidden;
  line-height: 28px;
  color: #444;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  transition: .5s;
}

.newsFonts .nFheight p {
  width: 100%;
  height: auto;
  max-height: 48px;
  overflow: hidden;
  line-height: 24px;
  color: #898989;
  font-size: 15px;
  transition: .7s;
}

.newsFonts .nFtime {
  width: auto;
  height: 20px;
  line-height: 20px;
  float: left;
  color: #BFBFBF;
  display: inline-block;
  font-size: 16px;
}

.newsFonts .nFnum {
  width: auto;
  height: 20px;
  line-height: 20px;
  float: right;
  color: #A8A8A8;
  display: inline-block;
  padding-left: 24px;
  background: url(../images/icon/newsNum.png) left center no-repeat;
  font-size: 16px;
}

.newsList:hover .newsImg img {
  transform: scale(1.1);
}

.newsList:hover .nFheight h1 {
  color: #0A93ED;
}

.newsList:hover .nFheight p {
  color: #333;
}





/* 最新公告 */
.noticeCent {
  width: 100%;
  height: auto;
  overflow: hidden;
  float: right;
  box-sizing: border-box;
}

.noticeTitle {
  width: 100%;
  height: 20px;
  float: left;
}

.noticeTitle label {
  width: 80%;
  height: 20px;
  line-height: 20px;
  float: left;
  border-left: 3px solid #0A93ED;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  color: #222;
  font-weight: bold;
  display: inline-block;
}

.noticeTitle a {
  width: auto;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  float: right;
  text-align: right;
  font-size: 16px;
  overflow: hidden;
  color: #999;
  font-weight: 500;
  transition: 1s;
}

.noticeTitle a:hover {
  color: #000;
}

.noticeList {
  width: 100%;
  height: auto;
  overflow: hidden;
  float: left;
  margin-top: 35px;
  box-sizing: border-box;
}

.noticeList1 {
  margin: 0;
  cursor: pointer;
}

.noticeList li {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  float: left;
  padding-right: 20px;
  box-sizing: border-box;
}

.noticeList li .linellae {
  position: absolute;
  width: 10px;
  top: 0;
  left: 3px;
  bottom: 0;
  border-left: 1px solid #EAEAEA;
  z-index: -1;
}

.noticeList1 li .linellae {
  left: 4px;
}

.noticeList li:first-child .linellae {
  top: 18px;
}

.noticeList li:last-child .linellae {
  top: 0;
  height: 18px;
}

.noticeList li .dot {
  width: 7px;
  height: 7px;
  overflow: hidden;
  border-radius: 100%;
  background: #BEBEBE;
  display: inline-block;
  margin-top: 8px;
  transition: 1s;
}

.noticeList1 li .dot {
  width: 9px;
  height: 9px;
  margin-top: 7px;
}

.noticeList li .title {
  width: 90%;
  height: auto;
  max-height: 46px;
  line-height: 23px;
  font-size: 15px;
  color: #666;
  font-weight: 500;
  float: right;
  transition: .5s;
}

.noticeList1 li .title {
  width: 96%;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #444;
}

.noticeList li .time {
  width: 90%;
  height: 20px;
  line-height: 20px;
  color: #AEAEAE;
  float: right;
  margin: 10px 0 30px 0;
  display: inline-block;
  transition: 1s;
}

.noticeList1 li .content {
  width: 96%;
  height: auto;
  overflow: hidden;
  max-height: 72px;
  line-height: 24px;
  font-size: 15px;
  color: #898989;
  float: right;
  transition: 1s;
}

.noticeList1 li .time {
  width: 96%;
  margin: 15px 0 30px 0;
}

.noticeList li:hover .dot {
  background: #0A93ED;
}

.noticeList li:hover .title {
  color: #222;
}

.noticeList1 li:hover .title {
  color: #0A93ED;
}

.noticeList1 li:hover .content {
  color: #333;
}

.noticeList li .title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hotNews {
  width: 100%;
  height: auto;
  overflow: hidden;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 35px;
  float: left;
}

.hotNews ul,
.hotNews ul li {
  width: 100%;
  height: auto;
  overflow: hidden;
  float: left;
}

.hotNews ul li {
  margin: 12px 0;
}

.hotNews ul li span {
  width: 19px;
  height: 19px;
  line-height: 19px;
  font-size: 12px;
  border-radius: 100%;
  background: #f5f5f5;
  color: #666;
  text-align: center;
  overflow: hidden;
  float: left;
  display: inline-block;
  margin-top: 2px;
  font-family: sans-serif;
}

.hotNews ul li:nth-child(1) span {
  background: #0A93ED;
  color: #fff;
}

.hotNews ul li:nth-child(2) span {
  background: #0A93ED;
  color: #fff;
}

.hotNews ul li:nth-child(3) span {
  background: #0A93ED;
  color: #fff;
}

.hotNews ul li a {
  width: 88%;
  height: auto;
  max-height: 46px;
  line-height: 23px;
  overflow: hidden;
  font-size: 15px;
  color: #6F6F6F;
  float: right;
}

.hotNews ul li a:hover {
  color: #333;
  text-decoration: underline;
}




/* 分页 */
.pageFy {
  width: 100%;
  height: auto;
  overflow: hidden;
  float: left;
  margin: 20px 0 60px 0;
  padding: 0;
  transition: 1s;
}

.pageFy .el-pagination {
  padding: 2px 0;
}





/* 新闻详情 */
.nDtitle {
  width: 100%;
  height: auto;
  overflow: hidden;
  float: left;
  border-bottom: 1px solid #eee;
  margin-top: 70px;
  padding-bottom: 40px;
  transition: 1s;
}

.nDtitle h1 {
  width: 100%;
  height: auto;
  line-height: 35px;
  overflow: hidden;
  float: left;
  font-size: 26px;
  color: #1B1B1B;
  margin-bottom: 20px;
  font-weight: 500;
  transition: 1s;
}

.noticeTit {
  width: 100%;
  height: auto;
  line-height: 35px;
  overflow: hidden;
  float: left;
  font-size: 26px;
  color: #1B1B1B;
  margin-bottom: 20px;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid #eee;
  margin-top: 50px;
  padding-bottom: 40px;
  transition: 1s;
}

.nDtitle label {
  width: auto;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  float: left;
  font-size: 16px;
  color: #A1A1A1;
  margin-right: 70px;
}

.nDtitle span {
  width: auto;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  float: left;
  font-size: 16px;
  color: #A8A8A8;
  padding-left: 25px;
  background: url(../images/icon/newsNum.png) left center no-repeat;
}

.nDcontent {
  width: 100%;
  height: auto;
  min-height: 300px;
  overflow: hidden;
  float: left;
  padding: 50px 0;
  transition: 1s;
}

.nDspace {
  width: 100%;
  height: auto;
  overflow: hidden;
  float: left;
  border-top: 1px solid #eee;
  margin-bottom: 100px;
  padding-top: 20px;
  transition: 1s;
}

.noticeName {
  width: 100%;
  height: auto;
  overflow: hidden;
  float: left;
  margin-bottom: 150px;
  padding-top: 20px;
  transition: 1s;
}

.noticeName p {
  width: 100%;
  height: auto;
  line-height: 30px;
  float: left;
  text-align: right;
  font-size: 22px;
  color: #393939;
}

.noticeName label {
  width: 100%;
  height: auto;
  line-height: 30px;
  float: left;
  text-align: right;
  font-size: 18px;
  color: #717171;
  display: inline-block;
  margin-top: 15px;
}

.nDspace>div {
  width: 100%;
  height: auto;
  overflow: hidden;
  float: left;
  margin-top: 20px;
  font-size: 16px;
}

.nDspace>div label {
  width: auto;
  height: 25px;
  line-height: 25px;
  float: left;
  display: inline-block;
  margin-right: 10px;
  color: #6A6A6A;
}

.nDspace>div a {
  width: 80%;
  height: auto;
  line-height: 25px;
  overflow: hidden;
  float: left;
  display: inline-block;
  color: #6A6A6A;
}

.nDspace>div a:hover {
  text-decoration: underline;
  color: #333;
}

.nDspace .noSpace {
  opacity: 0.6;
}

.nDspace .noSpace a:hover {
  text-decoration: none;
  color: #6A6A6A;
  cursor: auto;
}


.uPlist {
  position: fixed;
  width: 45px;
  height: auto;
  overflow: hidden;
  bottom: 40%;
  left: 50%;
  margin-left: 650px;
}

.uPlist a {
  width: 45px;
  height: 45px;
  display: inline-block;
  border-radius: 10px;
  background: #0A93ED url(../images/icon/newsNav_icon.png) center no-repeat;
  margin-bottom: 10px;
  float: left;
}

.uPlist a:last-child {
  margin: 0;
  background: #d9d9d9 url(../images/icon/upTop_icon.png) center no-repeat;
}

.uPlist a:last-child:hover {
  background-color: #ccc;
}




/* 响应式 */
@media screen and (max-width:1500px) {
  .newsBg {
    height: 250px;
  }

  .newsTab {
    margin-top: 150px;
  }

  .newsNotice {
    padding: 60px 0;
  }

  .newsList {
    height: 170px;
    margin-bottom: 35px;
  }

  .newsList .newsFonts,
  .newsList .newsImg,
  .newsList .newsImg img {
    height: 170px;
  }

  .newsFonts .nFheight {
    height: 150px;
  }

  .noticeList li .time {
    margin: 9px 0 28px 0;
  }

  .newsFonts .nFheight h1,
  .noticeList1 li .title {
    font-size: 17px;
  }

  .pageFy {
    margin: 18px 0 50px 0;
  }

  .nDtitle {
    margin-top: 50px;
    padding-bottom: 35px;
  }

  .nDcontent {
    padding: 45px 0;
  }

  .nDspace {
    margin-bottom: 80px;
  }

  .noticeName {
    margin-bottom: 130px;
  }
}

@media screen and (max-width:1400px) {
  .newsBg {
    height: 230px;
  }

  .newsTab {
    margin-top: 120px;
  }

  .newsNotice {
    padding: 50px 0;
  }

  .newsList {
    height: 160px;
    margin-bottom: 30px;
  }

  .newsList .newsFonts,
  .newsList .newsImg,
  .newsList .newsImg img {
    height: 160px;
  }

  .newsFonts .nFheight {
    height: 140px;
  }

  .noticeList li .time {
    margin: 8px 0 26px 0;
  }

  .newsFonts .nFheight h1,
  .noticeList1 li .title {
    font-size: 16px;
  }

  .pageFy {
    margin: 16px 0 40px 0;
  }

  .nDtitle {
    margin-top: 40px;
    padding-bottom: 30px;
  }

  .nDcontent {
    padding: 40px 0;
  }

  .nDspace {
    margin-bottom: 60px;
  }

  .noticeName {
    margin-bottom: 110px;
  }
}
