/* 交易对 */
.trading_content {
  background: #F2F4F5;
  padding-bottom: 60px;
  box-sizing: border-box;
  transition: 1s;
}


/* 涨跌幅 */
.priceLimit {
  height: auto;
  background: #fff;
  border: 1px solid #ECEAEA;/*no*/
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 40px;
  transition: 1s;
}

.priceLimit ul {
  width: 100%;
}

.priceLimit ul li {
  position: relative;
  width: 20%;
  height: 110px;
  border-right: 1px solid #ECEAEA;/*no*/
  box-sizing: border-box;
  background: url(../images/bg/priceBg.png) bottom center no-repeat;
  padding: 20px;
  text-align: left;
}

.priceLimit ul li:last-child {
  border: none;
}

.priceLimit ul li h2 {
  width: 100%;
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  color: #C7C7C7;
  margin-bottom: 6px;
}

.priceLimit ul li h2 b {
  padding-left: 5px;
  font-weight: 600;
}

.priceLimit ul li h2 b:first-child {
  color: #424242;
  padding: 0 5px 0 0;
}

.priceLimit ul li span {
  width: 60%;
  height: 20px;
  display: inline-block;
  font-size: 13px;
  font-family: "arial, helvetica, sans-serif";
  float: left;
}

.priceLimit ul li label {
  position: absolute;
  width: 60px;
  height: 26px;
  line-height: 26px;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  color: #fff;
  bottom: 25px;
  right: 20px;
  font-size: 14px;
}



/* 列表 */
.tradingList {
  height: auto;
  background: #fff;
  border-radius: 6px;
  margin-top: 40px;
  transition: 1s;
}

.tListTab a {
  line-height: 65px;
  float: left;
  color: #0D2637;
  font-size: 20px;
  padding: 0 60px;
  border-radius: 6px 6px 0 0;
}

.tListTab a:hover {
  color: #0A93ED;
}

.tListTab .bg_0 {
  color: #fff;
}

.tListTab .bg_0:hover {
  color: #fff;
}

.tListTitle {
  height: 60px;
  padding: 15px 0;
  background: #F8FAFC;
  box-sizing: border-box;
}

.tListTitle a {
  height: 30px;
  line-height: 30px;
  float: left;
  text-align: right;
  box-sizing: border-box;
  display: inline-block;
  color: #C0C0C0;
  padding-right: 12px;
  background: url(../images/icon/sort_0.png) center right no-repeat;
  font-size: 14px;
}

.tListTitle .title_el {
  padding: 0 20px 0 0;
  box-sizing: border-box;
}

.tListTitle .title_el a {
  float: left;
}

.tListTitle .title_el:first-child {
  padding: 0 20px 0 60px;
}

.tListTitle .title_el:nth-child(5) {
  padding: 0 20px 0 80px;
}

.tListTitle .title_el:nth-child(2) a,
.tListTitle .title_el:nth-child(3) a,
.tListTitle .title_el:nth-child(4) a,
.tListTitle .title_el:nth-child(6) a {
  float: right;
}

.tListTitle .title_el:last-child {
  padding: 0 40px 0 0;
}

.tListNum {
  height: 70px;
  padding: 15px 0;
  background: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #F6F6F6;/*no*/
}

.tListNum:hover {
  background: #f3f8fb;
  border: none;
}

.tListNum:last-child {
  border: none;
}

.tListNum .num_el {
  height: 40px;
  box-sizing: border-box;
}

.tListNum .num_el:nth-child(1) a {
  width: 15px;
  height: 15px;
  background: url(../images/icon/collect_0.png) center no-repeat;
  float: left;
  margin: 10px 22px 0 23px;
}

.tListNum .num_el:nth-child(1) h2 {
  width: auto;
  max-width: 150px;
  height: 40px;
  line-height: 15px;
  float: left;
}

.tListNum .num_el:nth-child(1) h2 b {
  font-size: 18px;
  color: #333;
  font-weight: 500;
}

.tListNum .num_el:nth-child(1) h2 b:last-child {
  color: #C0C0C0;
  font-size: 16px;
}

.tListNum .num_el:nth-child(1) h2 b:last-child:before {
  content: '/';
  padding: 0 5px;
}

.tListNum .num_el:nth-child(2) span,
.tListNum .num_el:nth-child(3) span,
.tListNum .num_el:nth-child(4) span {
  width: 100%;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  float: left;
  text-align: right;
  padding-right: 20px;
  color: #494747;
  box-sizing: border-box;
  font-size: 16px;
}

.tListNum .num_el:nth-child(2) label,
.tListNum .num_el:nth-child(3) label,
.tListNum .num_el:nth-child(4) label {
  width: 100%;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  float: left;
  text-align: right;
  padding-right: 20px;
  color: #9FB5C7;
  font-size: 12px;
  box-sizing: border-box;
  font-weight: 500;
}

.tListNum .num_el:nth-child(5) span {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: left;
  text-indent: 80px;
  font-size: 16px;
  display: inline-block;
}

.tListNum .num_el:nth-child(6) span {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: right;
  padding-right: 40px;
  box-sizing: border-box;
  font-size: 16px;
  float: right;
  color: #494747;
  display: inline-block;
}

.numMore {
  height: 60px;
  border-top: 1px solid #F6F6F6;/*no*/
  transition: 1s;
}

.numMore a {
  width: 100%;
  line-height: 60px;
  display: inline-block;
  color: #D0D3D8;
  text-align: center;
  transition: 1s;
  font-size: 16px;
}

.numMore:hover {
  background: #F8FAFC;
}

.numMore:hover a {
  color: #999;
}




/* 响应式 */
@media screen and (max-width:1600px) {
  .trading_content {
    padding-bottom: 50px;
  }
  .priceLimit{
    margin-top: 35px;
  }
  .tradingList{
    margin-top: 35px;
  }
}
@media screen and (max-width:1500px) {
  .trading_content {
    padding-bottom: 40px;
  }
  .priceLimit{
    margin-top: 30px;
  }
  .tradingList{
    margin-top: 30px;
  }
  .tListNum .num_el:nth-child(1) h2 {
    line-height: 0;
  }
}
